/*nav   */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: var(--bg-color);
font-size: 16px;
font-family: 'Oswald', sans-serif;
}



.contenedor{
    width: 200px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 10px;
    background: #524C49;
}

.contenedor-register{
    width: 200px;
    height: 750px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    border-radius: 10px;
    background: #524C49;
}



.nav-brand{
        width: 170px;
}

.bienvenido{
    font-size: 35px;
}



:root{
    --bg-color: #E5E1DE;
    --bg-color-carrusel:white;
    --txt-color-navbar: white;
    --txt-color-tarjetas: black;
    --txt-color-hover:grey;
    --color-gris: #585450;


}

[data-theme ='oscuro']{

    --bg-color: #2E2D2B;
    --bg-color-carrusel:#747067;
    --txt-color-navbar: white;
    --txt-color-tarjetas: white;
    --txt-color-hover:grey;
    --color-gris: #E8E8E8;
    
}


#toggle-label{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    width: 55px;
    background-color: #7C7978;
    color: white;
    border-radius: 16px;
    padding: 2px 2px 0 2px;
    position: relative;
}

#toggle{
    width: 0;
    height: 0;
    opacity: 0;

}


.slider{
    position: absolute;
    top: 0;
    left: 0;
}

.slider::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
    top: -1px;
    left: -1px;
    box-shadow: #524C49 0 0 5px;
    transition: 0.4s;
}

input:checked + .slider::before{
    transform: translateX(24px);
}


.borde{
    border: #e9e5e5;
}

.color-negro{
    color: var(--txt-color-tarjetas);
}

.color-gris{
    color: var(--color-gris);
}

.nv-main{
    background-color: #524C49;
    
}